<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<property name="hibernate.connection.password">mysql</property>
		<property name="hibernate.connection.url">
			jdbc:mysql://169.169.43.85:3306/ForensicLion
		</property>
		<property name="hibernate.connection.username">mysql</property>
		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<mapping
			resource="cn/sunn/ForensicLion/domain/CaseInfor.hbm.xml" />
		<mapping
			resource="cn/sunn/ForensicLion/domain/CaseInternalStatistics.hbm.xml" />
		<mapping
			resource="cn/sunn/ForensicLion/domain/CaseIdentifiedInfo.hbm.xml" />
		<mapping
			resource="cn/sunn/ForensicLion/domain/CaseCheckInfor.hbm.xml" />
		<mapping
			resource="cn/sunn/ForensicLion/domain/CaseFile.hbm.xml" />
		<mapping
			resource="cn/sunn/ForensicLion/domain/CaseCharge.hbm.xml" />
		<mapping
			resource="cn/sunn/forensiclion/domain/CaseCharge.hbm.xml" />
		<mapping
			resource="cn/sunn/forensiclion/domain/CaseCheckInfor.hbm.xml" />
		<mapping
			resource="cn/sunn/forensiclion/domain/CaseIdentifiedInfo.hbm.xml" />
		<mapping
			resource="cn/sunn/forensiclion/domain/CaseInfor.hbm.xml" />
		<mapping
			resource="cn/sunn/forensiclion/domain/CaseFile.hbm.xml" />
		<mapping
			resource="cn/sunn/forensiclion/domain/CaseInternalStatistics.hbm.xml" />
	</session-factory>
</hibernate-configuration>
